<div class="post-card {{post_class}}">
  <a class="post-card__link" href="{{url}}">
    <div class="post-card__date">
      <div class="post-card__month-and-day">
        {{date published_at format="MMMM DD"}}
      </div>
      <div class="post-card__year">
        {{date published_at format="YYYY"}}
      </div>
    </div>
    <div class="post-card__title">
      {{title}}
    </div>
  </a>
</div>
